<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>733</integer>
    <key>copyright</key>
    <string>© 2014-2021 Adobe (http://www.adobe.com/), with Reserved Font Name 'Source'.</string>
    <key>descender</key>
    <integer>-120</integer>
    <key>familyName</key>
    <string>Source Han Sans Supplement</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2021/04/13 16:06:27</string>
    <key>openTypeHheaAscender</key>
    <integer>1160</integer>
    <key>openTypeHheaDescender</key>
    <integer>-288</integer>
    <key>openTypeNameDesigner</key>
    <string>Ryoko NISHIZUKA 西塚涼子 (kana, bopomofo &amp; ideographs); Paul D. Hunt (Latin, Greek &amp; Cyrillic); Sandoll Communications 산돌커뮤니케이션, Soo-young JANG 장수영 &amp; Joo-yeon KANG 강주연 (hangul elements, letters &amp; syllables)</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Adobe</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.adobe.com/type/</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>2</integer>
      <integer>8</integer>
      <integer>17</integer>
      <integer>19</integer>
      <integer>20</integer>
      <integer>21</integer>
      <integer>29</integer>
      <integer>30</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>5</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>325</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>880</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-120</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>7</integer>
      <integer>28</integer>
      <integer>29</integer>
      <integer>36</integer>
      <integer>42</integer>
      <integer>43</integer>
      <integer>44</integer>
      <integer>45</integer>
      <integer>48</integer>
      <integer>49</integer>
      <integer>50</integer>
      <integer>51</integer>
      <integer>52</integer>
      <integer>54</integer>
      <integer>55</integer>
      <integer>56</integer>
      <integer>57</integer>
      <integer>59</integer>
      <integer>61</integer>
      <integer>65</integer>
      <integer>66</integer>
      <integer>68</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ADBO</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1160</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>288</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-13</integer>
      <integer>0</integer>
      <integer>543</integer>
      <integer>557</integer>
      <integer>733</integer>
      <integer>747</integer>
    </array>
    <key>postscriptFontName</key>
    <string>SourceHanSansSup-Regular</string>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>78</integer>
      <integer>111</integer>
      <integer>67</integer>
      <integer>77</integer>
      <integer>64</integer>
      <integer>74</integer>
      <integer>32</integer>
      <integer>40</integer>
      <integer>66</integer>
      <integer>97</integer>
      <integer>120</integer>
      <integer>40</integer>
      <integer>120</integer>
      <integer>40</integer>
      <integer>70</integer>
      <integer>66</integer>
      <integer>74</integer>
      <integer>90</integer>
      <integer>66</integer>
      <integer>74</integer>
      <integer>90</integer>
      <integer>68</integer>
      <integer>79</integer>
      <integer>39</integer>
      <integer>50</integer>
      <integer>65</integer>
      <integer>58</integer>
      <integer>65</integer>
      <integer>84</integer>
      <integer>69</integer>
      <integer>79</integer>
      <integer>88</integer>
      <integer>57</integer>
      <integer>127</integer>
      <integer>139</integer>
      <integer>70</integer>
      <integer>79</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>85</integer>
      <integer>95</integer>
      <integer>81</integer>
      <integer>93</integer>
      <integer>66</integer>
      <integer>76</integer>
      <integer>32</integer>
      <integer>43</integer>
      <integer>69</integer>
      <integer>82</integer>
      <integer>94</integer>
      <integer>116</integer>
      <integer>40</integer>
      <integer>120</integer>
      <integer>40</integer>
      <integer>64</integer>
      <integer>81</integer>
      <integer>92</integer>
      <integer>81</integer>
      <integer>92</integer>
      <integer>81</integer>
      <integer>92</integer>
      <integer>49</integer>
      <integer>60</integer>
      <integer>75</integer>
      <integer>63</integer>
      <integer>73</integer>
      <integer>89</integer>
      <integer>85</integer>
      <integer>95</integer>
      <integer>111</integer>
      <integer>75</integer>
      <integer>89</integer>
      <integer>132</integer>
      <integer>82</integer>
      <integer>90</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Source is a trademark of Adobe in the United States and/or other countries.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>4</integer>
    <key>xHeight</key>
    <integer>543</integer>
  </dict>
</plist>
