<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3414</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni5903.alt</string>
      <string>u200A2</string>
      <string>u200D3</string>
      <string>u20A7A</string>
      <string>u20B1B</string>
      <string>u20B24</string>
      <string>u20B36</string>
      <string>u20BD1</string>
      <string>u21569</string>
      <string>u22016</string>
      <string>u221C7</string>
      <string>u226A9</string>
      <string>u22EFB</string>
      <string>u22F38</string>
      <string>u23386</string>
      <string>u239BC</string>
      <string>u23D92</string>
      <string>u24C07</string>
      <string>u26407</string>
      <string>u26C29</string>
      <string>u27BAB</string>
      <string>u27D2A</string>
      <string>u27DD7</string>
      <string>u27DD7.alt</string>
      <string>u2B0B1</string>
      <string>u2B823</string>
      <string>u2B94E</string>
      <string>u2D546</string>
      <string>u2DEB3</string>
      <string>u30021</string>
      <string>u3005C</string>
      <string>u3054E</string>
      <string>uni2EA6</string>
      <string>uniE000</string>
      <string>uniE001</string>
      <string>uniE002</string>
      <string>uniE003</string>
      <string>uniE004</string>
    </array>
  </dict>
</plist>
