<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u200D3</key>
    <string>u200D_3.glif</string>
    <key>u20B24</key>
    <string>u20B_24.glif</string>
    <key>u22016</key>
    <string>u22016.glif</string>
    <key>u226A9</key>
    <string>u226A_9.glif</string>
    <key>u27DD7</key>
    <string>u27D_D_7.glif</string>
    <key>u2B823</key>
    <string>u2B_823.glif</string>
    <key>u3005C</key>
    <string>u3005C_.glif</string>
  </dict>
</plist>
