<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>u200D3</key>
    <string>u200D_3.glif</string>
    <key>u20B1B</key>
    <string>u20B_1B_.glif</string>
    <key>u20B24</key>
    <string>u20B_24.glif</string>
    <key>u20BD1</key>
    <string>u20B_D_1.glif</string>
    <key>u22016</key>
    <string>u22016.glif</string>
    <key>u226A9</key>
    <string>u226A_9.glif</string>
    <key>u239BC</key>
    <string>u239B_C_.glif</string>
    <key>u27D2A</key>
    <string>u27D_2A_.glif</string>
    <key>u27DD7</key>
    <string>u27D_D_7.glif</string>
    <key>u27DD7.alt</key>
    <string>u27D_D_7.alt.glif</string>
    <key>u2B823</key>
    <string>u2B_823.glif</string>
    <key>u2B94E</key>
    <string>u2B_94E_.glif</string>
    <key>u2D546</key>
    <string>u2D_546.glif</string>
    <key>u2DEB3</key>
    <string>u2D_E_B_3.glif</string>
    <key>u30021</key>
    <string>u30021.glif</string>
    <key>u3005C</key>
    <string>u3005C_.glif</string>
    <key>uni5903</key>
    <string>uni5903.glif</string>
  </dict>
</plist>
